<div class="movie-view">
  <h2><%=movie.box_office_ranking%>. <%= movie.title %></h2>
  <div class="movie-view-col1">
    <%= image_tag(movie.poster_url, class: 'movie-thumb', alt: movie.title) %>
  </div>
  <div class="movie-view-col2">
    <h3>(<%= movie.year %>) <%= movie.mpaa_rating %></h3>
    <div><%= render partial: 'critics_line', locals: { movie: movie } %></div>
    <div><%= render partial: 'audience_line', locals: { movie: movie } %></div>
    <div><%= render partial: 'movie_links', locals: { movie: movie } %></div>
  </div>
</div>