<h1>CK DEV PROJECT</h1>
<h2>Welcome Movie Enthusiast</h2>

<%= form_tag('/past', method: 'get') do %>
  Fetch Last Weekend's Movie Box Office Results.
  <%= select_tag 'show', options_for_select([ '5', '10', '15', '20', '25' ], '10') %>
  <%= submit_tag('Search', name: nil) %>
<% end %>

<%= form_tag('/future', method: 'get') do %>
  Create Box Office Rankings for the next 4 weeks.
  <%= submit_tag('Create', name: nil) %>
<% end %>