<h1>Box Office Projections for the Weekend starting:
  <%= @projections[:weeks][0].strftime('%B %-d, %Y') %>
</h1>

<h2>Ranking on date:</h2>

<table>
  <tr>
    <% @projections[:weeks].each do |date| %>
      <th><%= date.strftime('%-m/%-d') %></th>
    <% end %>
      <th>&nbsp;</th>
  </tr>
  <% @projections[:movies].each do |movie| %>
    <tr>
      <td><%= movie[:week1] %></td>
      <td><%= movie[:week2] %></td>
      <td><%= movie[:week3] %></td>
      <td><%= movie[:week4] %></td>
      <td><%= movie[:title] %></td>
    </tr>
  <% end %>
</table>