<!DOCTYPE html>
<html>
<head>
  <title>RottenTomatoes</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= link_to image_tag('header-logo.png'), 'http://rottentomatoes.com', class:'logo' %>
  <%= render partial: 'shared/navigation' %>
</header>

<div class="main">
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>
</div>

<footer>
  <%= render partial: 'shared/navigation' %>
</footer>

</body>
</html>
